<ul>
  <% @categories.each do |category| %>
      <%= link_to category_payments_path(category) do %>
        <li>
          <img src="<%= category.icon %>" alt="[<%= category.name.downcase %> icon]">
          <span><%= category.name %></span>
          <span>$<%= category.total_price %></span>
        </li>
      <% end %>
  <% end %>
</ul>